.ball {
  position: absolute;
  background-color: rgba(165, 168, 168, 0.096);
  width: 8rem;
  height: 9.9rem;
  border-radius: 50%;
  margin-top: 2rem;
  box-shadow: 0 0 4px 3px rgba(165, 168, 168, 0.041);
}

.banner {
  position: absolute;
  height: 100vh; 
  width: 100%;
  /* margin-left: -0.5rem; */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(31, 30, 29, 0.336);
}

.homecontain {
  position: absolute;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  grid-auto-rows: minmax(100px, auto);
  margin: 4rem;

}

.imagetwo {
  height: 500px;
  width: 500px;

}