.form {
   margin: 10px auto;
   margin-bottom: 100px;
   width: 35rem;
   /* background: linear-gradient(217deg, #3282f1, rgba(255,0,0,0) 50.71%),
   linear-gradient(127deg, #3282f1 , rgba(0,255,0,0) 50.71%),
   linear-gradient(336deg, rgba(21, 21, 21, 0.8), rgba(0,0,255,0) 100%); */
   
   background-image: 
   radial-gradient(at 0% 0%, rgb(116, 116, 121) 0, transparent 50%), 
   radial-gradient(at 50% 0%, rgb(255, 255, 255) 0, transparent 50%), 
   radial-gradient(at 100% 0%, rgb(136, 131, 133) 0, transparent 50%);

}