.fades {
  animation: 0.5s fades forwards;
}

@keyframes fades {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fadeIn {
  animation: 0.5s fadeIn forwards;
}

.fadeOut {
  animation: 0.5s fadeOut forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-20px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-20px, 0);
    opacity: 0;
  }
}

/* .container {
  margin-top: 33rem;
} */

.ball1{
  position: absolute;
  background-color: rgba(165, 168, 168, 0.096);
  width: 8rem;
  height: 9.9rem;
  border-radius: 50%;
  top: 2rem;
  box-shadow: 0 0 4px 3px rgba(108, 110, 110, 0.288);
}

.ball2 {
  position: absolute;
  background-color: rgba(165, 168, 168, 0.096);
  width: 5rem;
  height: 6rem;
  margin-left: 19rem;
  top: 9rem;
  border-radius: 50%;
  margin-top: 2rem;
  box-shadow: 0 0 4px 3px rgba(108, 110, 110, 0.288);
}

.ball3 {
  position: absolute;
  background-color: rgba(165, 168, 168, 0.096);
  width: 3rem;
  height: 3rem;
  margin-left: 53rem;
  top: 33rem;
  border-radius: 50%;
  margin-top: 2rem;
  box-shadow: 0 0 4px 3px rgba(108, 110, 110, 0.288);
}

.ball4 {
  position: absolute;
  background-color: rgba(165, 168, 168, 0.096);
  width: 5rem;
  height: 6rem;
  margin-left: 57rem;
  top: 27rem;
  border-radius: 50%;
  margin-top: 2rem;
  box-shadow: 0 0 4px 3px rgba(108, 110, 110, 0.288);
}

.ball5 {
  position: absolute;
  background-color: rgba(165, 168, 168, 0.096);
  width: 3rem;
  height: 3rem;
  margin-left: 61rem;
  top: 23rem;
  border-radius: 50%;
  margin-top: 2rem;
  box-shadow: 0 0 4px 3px rgba(108, 110, 110, 0.288);
}

.ball6 {
  position: absolute;
  background-color: rgba(165, 168, 168, 0.096);
  width: 5rem;
  height: 6rem;
  margin-left: 62rem;
  top: 15.5rem;
  border-radius: 50%;
  margin-top: 2rem;
  box-shadow: 0 0 4px 3px rgba(108, 110, 110, 0.288);
}

.ball7 {
  position: absolute;
  background-color: rgba(165, 168, 168, 0.096);
  width: 3rem;
  height: 3rem;
  margin-left: 62rem;
  top: 11rem;
  border-radius: 50%;
  margin-top: 2rem;
  box-shadow: 0 0 4px 3px rgba(108, 110, 110, 0.288);
}

.ball8 {
  position: absolute;
  background-color: rgba(165, 168, 168, 0.096);
  width: 5rem;
  height: 6rem;
  margin-left: 58rem;
  top: 3.9rem;
  transform: rotate(-30deg);
  border-radius: 50%;
  margin-top: 2rem;
  box-shadow: 0 0 4px 3px rgba(108, 110, 110, 0.288);
}

.banner {
  height: 100vh; 
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* margin-left: -0.5rem; */
}

.overlay {
  position: absolute;
  height: 100vh; 
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
}

.overlay::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  height: 35vh; 
  width: 50%;
  margin-top: 100vh;
  border-radius: 100%;
  transform: rotate(35deg);
}

.look {
  border: saddlebrown;
  border-radius: 23px;
  background-color: #0d0e0d;
  width: 30rem;
  /* background-image: url("../assets/I.png");
  background-size: cover;
  background-repeat: none; */
  color: white;
}

.homecontain {
  position: absolute;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  grid-auto-rows: minmax(100px, auto);
  margin: 4rem;
  height: 100vh;
  /* margin-top: -54rem; */
}

.first {
  margin-top: 10rem;
}

.sect-one {
  margin-top: 30rem;
}

.content {
  margin-top: 55rem;
  margin-bottom: 10rem;
}
.second {
  margin-top: -6rem;
}

.imagetwo {
  height: 700px;
  width: 600px;
}

.copy {
  height: 26rem;
  text-align: center;
  margin: 0 auto;
  /* background-image: 
   radial-gradient(at 0% 0%, rgb(240, 240, 255) 0, transparent 50%), 
   radial-gradient(at 50% 0%, rgb(255, 255, 255) 0, transparent 50%), 
   radial-gradient(at 100% 0%, rgb(240, 240, 255) 0, transparent 50%); */
}

.cop {
  height: 12rem;
  width: 100%;
}

.chec{
  margin: 0 auto;
}

.btn {
  /* background: linear-gradient(217deg, #3282f1, rgba(255,0,0,0) 50.71%),
            linear-gradient(127deg, #3282f1 , rgba(0,255,0,0) 50.71%),
            linear-gradient(336deg, rgba(21, 21, 21, 0.8), rgba(0,0,255,0) 100%); */
}

.alinput {
  display: flex;
  justify-content: center;
  width: 36em;
  margin: 0 auto;
  box-shadow: 0 0 1px 2px rgba(50, 50, 51, 0.425);
}

.box{
  background-image: 
   radial-gradient(at 0% 0%, rgb(240, 240, 255) 0, transparent 50%), 
   radial-gradient(at 50% 0%, rgb(255, 255, 255) 0, transparent 50%), 
   radial-gradient(at 100% 0%, rgb(240, 240, 255) 0, transparent 50%);
}

.scrolltunnel {
}
/* spacing */

/* IP registration */
.regis{
  /* width: 35rem; */
  background-color: rgba(0, 0, 0, 0.76);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.regform{
  margin-top: 5rem;
  width: 70rem;
  border-radius: 10px;
}

.cont-one{
  width: 32rem;
}

.cont-two{
  width: 32rem;
  margin-top: 104px;
}

.scrolltunnel {
  height: 100px;
  margin-left: 0px;
  top: 50px;
  overflow: scroll;
}
::-webkit-scrollbar {
  background: transparent;
  width: 13px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #161615);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #0d0e0d);
}
::-webkit-scrollbar-corner {
  border-radius: 20px;
  background: lightgray;
}


/* Table */
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
  margin-bottom: 2rem;
}

table td, table th {
  border: 1px solid rgba(156, 156, 156, 0.473);
  padding: 8px;
}

table tr:nth-child(odd){background-color: #ffffff;}
table tr:nth-child(even){background-color: #ffffff00;}

table tr:hover {background-color: rgba(124, 113, 113, 0);}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: white;
  background-color: #93949659;
}

/* Responsive */

@media (max-width: 1280px) {
  .container {
    margin-left: -10rem;
  }
}

@media (max-width: 1024px) {
  .container {
    margin-left: -18rem;
  }
   
  .phot {
    flex-direction: column;
    margin: 40px 254px;
  }

  .content {
    margin-top: 70rem;
  }

  .thirimg{
    margin-top: 0.6rem;
  }
  
  
}
  
@media (max-width: 768px) {
 .ball1, 
 .ball2,
 .ball3,
 .ball4,
 .ball5,
 .ball6,
 .ball7,
 .ball8 {
    display: none;
  }

  .homecontain {
    position: absolute;
    display: flex;
    flex-direction: column;
  }
  
  .first {
    position: relative;
    z-index: 10;
  }

  .second {
    margin-top: -30rem;
    height: 1rem;
    position: relative;
  }

  .phot {
    flex-direction: column;
    margin: 40px 54px;
  }
  
  .content {
    margin-top: 70rem;
  }

  .phot2 {
    background-color: #ada9a931;
  }

  .secimg {
    margin-top: 0;
    margin-left: 0;
  }

  .thirimg {
    margin-left: 0;
  }
  
  .box {
    width: 30rem;
  }

  .foot {
    flex-direction: column;
  }

  .btn-one {
    margin-top: -0.8rem;
    margin-left: -4.5rem;
  }

 }

 @media (max-width: 1280px) {
  .container {
    margin-left: -10rem;
  }
}

@media (max-width: 1024px) {
  .container {
    margin-left: -18rem;
  }
}

@media (max-width: 640px) {        

  /* .scroll {
    width: 400px;
    height: 400px;
    margin-left: 0px;
    top: 50px;
    overflow: scroll;
  }
  ::-webkit-scrollbar {
    background: transparent;
    width: 20px;
  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #305a27);
    border-radius: 6px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #4d9c02);
  }
  ::-webkit-scrollbar-corner {
    border-radius: 20px;
    background: lightgray;
  } */
}